<div>
    <a th:href="@{/home/index}">Home</a> ::
    <a th:href="@{/home/about}">About US</a> |||
    <a th:href="@{/admin}">Admins</a> ::
    <a th:href="@{/user}">Users</a> ::
    <a th:href="@{/authenticated}">Authenticated</a> |||
    <a th:href="@{/thymeleaf1}">Thymeleaf-1</a> ::
    <a th:href="@{/thymeleaf2}">Thymeleaf-2</a> |||
    <a th:if="${#request.userPrincipal eq null}" th:href="@{/auth/login}">Login</a>
    <a th:if="${#request.userPrincipal ne null}" th:href="@{/logout}">Logout</a>
</div>
