<div class="main" >
    <div th:unless="${#request.remoteUser}">
        <h1 style="color: red">chưa đăng nhập</h1>
    </div>
    <div th:if="${#request.remoteUser}" th:object="${#request.userPrincipal}">
        <h2>authentication information</h2>
        <ul>
            <li>username: [[*{name}]]</li>
            <li th:text="|is admin: ${#request.isUserInRole('ADMIN')}|"></li>
            <br>
            <li>Username: [[*{name}]]</li>
            <li>Roles: [[*{authorities}]]</li>
        </ul>

    </div>
</div>
