<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="~{/_menu :: div}"></div>
    <hr>
    <h2>[[${message}]]</h2>
    <hr>

    <u style="color: red">[[${messageFail}]]</u>
    <form th:action="@{/auth/login}" method="post">
        <input name="username" placeholder="username" style="display: block">
        <input name="password" placeholder="password">
        <div>
            <input id="remember" type="checkbox" name="remember">
            <label for="remember">Remember Me?</label>
        </div>
        <button>login</button>
    </form>
</body>
</html>